<div id="app-container">
  <div id="app-name">
    <h3>~~TODO app~~</h3>
  </div>

  <div id="lists-preview-container">

    <div *ngFor="let list of tasksService.getListSortedByPin(); let i = index">
      <div id="card">
        <div class="pin__a">
          <div [attr.data-pin]="list.pinned" class="pin">
            📌
          </div>
        </div>
        <div id="card-header" (click)="pinList(list.id)">
          <h1 id="list-name">{{list.name}}</h1>
          <hr>
        </div>
        <div (click)="cardClicked(i)">
          <ul>
            <li *ngFor="let task of tasksService.getTasksInList(list.id, 5, false)">
              {{task.name}}
            </li>
          </ul>
          <span id="more">...</span>
        </div>
      </div>
    </div>

  </div>

</div>
