#app-container {
  padding-right: 5%;
  padding-left: 5%;
}

#app-name {
  text-align: center;
}

#tasks-current-list-container {
  flex: 1;
}

#lists-preview-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
