<li *ngIf="task.checked === true && isEditing === false && task.list === tasksService.currentListId else taskNotChecked"
    [class.checked]="true"
    (click)="taskClicked(i)">
  {{task.name}}
  <span class="task-edit-button"
        (click)="editTaskClicked()">
    EDIT
  </span>
  <span class="task-delete-button"
        (click)="deleteTaskClicked()">
    ×
  </span>
</li>

<ng-template #taskNotChecked>
  <li *ngIf="task.list === tasksService.currentListId && isEditing === false else editing"
      [class.checked]="false"
      (click)="taskClicked(i)">
    {{task.name}}
    <span class="task-edit-button"
          (click)="editTaskClicked()">
    EDIT
  </span>
    <span class="task-delete-button"
          (click)="deleteTaskClicked()">
    ×
  </span>
  </li>
</ng-template>

<ng-template #editing>
  <li *ngIf="task.list === tasksService.currentListId && isEditing === true else notInThisList">
    <input [(ngModel)]="inputValue" type="text" id="input-text" placeholder=""
           (keydown)="onInputKeydown($event)">
    <span class="edit-save-button"
          (click)="saveEditChanges()">
    SAVE
  </span>
    <span class="edit-cancel-button"
          (click)="cancelEditChanges()">
    CANCEL
  </span>
  </li>
</ng-template>

<ng-template #notInThisList>
</ng-template>
