li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: ghostwhite;
  font-size: 18px;
  transition: 0.2s;
}

li:hover {
  background: #ddd;
}

li.checked {
  border: 1px solid #858382;
  background: #536688;
  color: #fff;
  text-decoration: line-through;
}

li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.task-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 15px 12px 15px;
}

.task-delete-button:hover {
  background: #f44336;
  color: white;
}

.task-edit-button {
  position: absolute;
  top: 0;
  right: 40px;
  padding: 12px 30px 12px 30px;
}

.task-edit-button:hover {
  background: darkgray;
  color: white;
}

/*EDITING*/

.edit-save-button {
  position: absolute;
  top: 0;
  right: 90px;
  padding: 21px 16px 21px 16px;
}

.edit-save-button:hover {
  background: darkgray;
  color: white;
}

.edit-cancel-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 21px 10px 21px 10px;
}

.edit-cancel-button:hover {
  background: #f44336;
  color: white;
}

#input-text {
  margin: 0;
  padding: 0 3px;
  /*color: inherit;*/
  width: 70%;
  font-family: inherit;
  font-size: 20px;
  font-weight: inherit;
  line-height: 1.8;
  border: none;
}
